<%- include('../includes/head.ejs') %>
<%- include('../includes/bg.ejs') %>

<script>
    document.addEventListener('DOMContentLoaded', function()
    {
        document.getElementById("firstPass").addEventListener("change", val);
        document.getElementById("secondPass").addEventListener("change", val);
    }, false);
</script>
</head>
<br>
<div class="container">

    <div class="container bg-transparent rounded" id="pageHead">
        <h1>Internet programming - EX4</h1>
        <h3>Please complete the form to register</h3>
        <br>
    </div>
    <br>
    <br>
    <div class="container bg-transparent rounded auto">
        <form action="/reg-pass" method="post">
            <h3>Password information</h3>
            <div class="form-group">
                <label for="firstPass">Enter Password</label>
                <input type="password" class="form-control" id="firstPass" name="firstPassword" placeholder="Enter Password" required pattern=".{8,}" title="Use at least 8 characters">
            </div>
            <div class="form-group">
                <label for="secondPass">Repeat Password</label>
                <input type="password" class="form-control" id="secondPass" name="secondPassword" placeholder="Repeat Password" required pattern=".{8,}" title="Use at least 8 characters">
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
            <a href="/login" class="btn btn-info" role="button">Back to login</a>
        </form>
        <br>

        <% if (errMessage.trim() !== "") { %>
            <h1><%= errMessage %></h1>
            <a href="/reg-pass" class="btn btn-info" role="button">Try again</a>
            <br>
        <% } %>
    </div>


</div>
<script>
    let val = ()=> {
        let first = document.getElementById("firstPass");
        let second = document.getElementById("secondPass");
        if(first.value == second.value)
        {
            first.setCustomValidity("");
            second.setCustomValidity("");
        }
        else
        {
            first.setCustomValidity("Passwords must match");
            second.setCustomValidity("Passwords must match");
        }
    }
</script>
<%- include('../includes/end.ejs') %>