<%- include('includes/head.ejs') %>
<%- include('includes/bg.ejs') %>

<br>
<div class="container">

    <h1>oops...something went wrong</h1>
    <h3>Looks like we have an issue on our side.</h3>
    <h3>Error message:</h3>
    <h4><%= errMessage %></h4>
    <br>
    <a href="/" class="btn btn-primary">login page</a>


</div>

<%- include('includes/end.ejs') %>